.catalogItem {
    cursor: pointer;
    margin: 5px 5px;
    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.catalogItem:hover {
    transform: scale(1.03);
}

.add-cart-button {
    padding: 5px 15px;
    border-radius: 15px;
    z-index: 100;
}

.row { 
    --bs-gutter-x: 0 !important
}

.btn-close {
    right: 10px;
    top: 10px;
}

.info * {
    word-break: break-all;
}

.info {
    padding-left: 10px;
    flex: 1 !important;
}

.extra-pic {
    margin-top: 10px
}

.add-button {
    justify-self: flex-end;
    padding: 10px 0;
    border-radius: 15px;
    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.add-button:hover {
    background-color: #ff000c !important;
}

#paginator {
    margin-top: 10px !important; 
    grid-gap: 5px;
    grid-template-columns: repeat(5, 1fr);
}

.pagButton { 
    border-radius: 100%;
    height: 40px;
    width: 40px;
    cursor: pointer;
    font-size: 25px;
    user-select: none;
    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.pagButton:hover {
    background-color: #ff000c !important;
}

.activePage { 
    background-color: #c4000a !important;
}

@media (max-width: 768px) { 
    .info, .add-button, .imgs, .modal-price {
        margin: 20px 0 0 0;
    }

}